.container {
  width: 100%;
  background-color: rgb(81, 204, 241);
  padding: 50px 20px 0 10px;
}
h1 {
  color: #fff;
  margin-bottom:50px;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
  font-size: 2.5rem;
  line-height: 1.2rem;
  
}

button {
  border:none;
  background-color: transparent;
  padding: 8px 35px;
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.3s ease-in;
  font-weight: 500;
  /* border-bottom: 3px solid yellow; */
}

.border{
    border-bottom: 3px solid yellow;
    color: yellow;
}

button:active {
  transform: scale(1.2);
}

